player-connection-mode=Listen
player-connection-guid=3644199793
player-connection-debug=0
player-connection-project-name=PropHunt
player-connection-ip=192.168.0.13
player-connection-ip=192.168.197.1
player-connection-ip=192.168.245.1
player-connection-ip=26.134.72.52
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
